.hero {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headings {
      display: flex;
      flex-direction: column;
      font-family: "Montserrat", sans-serif;

      h1 {
        color: #ff4500;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      h3 {
        color: #fff;
        margin-bottom: 16px;
      }
    }

    img {
      width: 240px;
      height: 240px;
      margin-bottom: 24px;
    }
  }

  .button {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #ff4500;
    width: fit-content;
    padding: 0.4em 1.1em;
    margin: 0 auto;
    border-radius: 16px;
    transition: 0.3s all;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

@media screen and (min-width: 30em) {
  .hero {
    .content {
      width: 90%;
      max-width: fit-content;
      margin: 72px auto;
      flex-direction: row;

      .headings h1 {
        margin-bottom: 4px;
        margin-top: -64px;
      }

      .headings h3 {
        font-weight: 300;
      }

      .button {
        font-size: 18px;
        margin: 0;
        margin-top: 32px;
      }
    }
  }
}

@media screen and (min-width: 48em) {
  .hero {
    .content {
      img {
        width: 360px;
        height: 360px;
      }

      .button {
        margin-top: 32px;
      }
    }
  }
}

@media screen and (min-width: 70em) {
  .hero .content {
    .headings {
      h3 {
        font-size: 28px;
      }
      .button {
        font-size: 28px;
      }
    }
    img {
      width: 560px;
      height: 560px;
    }
  }
}
