#success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20vh 0;

  h1,
  h2 {
    color: #fff;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
  }
}
